* {
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
ul,
ol {
  margin: 0;
  padding: 0;
}
.pizzeria-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 250px;
}
.pizzeria-logo-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.logo {
  width: 1200px;
  height: 400px;
  padding: 0;
  margin: 0;
}
.tag-line,
.daily {
  padding: 0;
  margin: 0;
}
.nav-link {
  font-size: 20px;
  text-transform: uppercase;
}
.first-container {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.715),
      rgba(32, 32, 32, 0.919)
    ),
    url("img/pizza..png");
  height: 650px;
  background-size: cover;
  color: white;
  padding: 0px;
}
.second-container {
  background-size: cover;
  padding: 20px;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.89),
      rgba(32, 32, 32, 0.919)
    ),
    url("img/pizza.jpg");
  width: 100%;
  height: 900px;
  color: white;
  display: flex;
  align-items: center;
}

.third-container {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.89),
      rgba(32, 32, 32, 0.919)
    ),
    url("Fucking Pizza Site/img/pizza-gbb6817a14_1920.jpg");
  width: auto;
  height: 800px;
  background-size: cover;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.tag-text {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Overpass", sans-serif;
  font-size: 45px;
}
.menu {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 45px;
  font-weight: 900;
  padding-bottom: 30px;
}
.col {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.col-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navi-text {
  font-size: 15px;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav-pills {
  padding-bottom: 40px;
}
.nav-signs {
  color: white;
  font-weight: 900;
  font-size: 25px;
}
.card-title {
  color: black;
  font-weight: 900;
  font-size: 25px;
}
.card,
.card-body {
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img-top {
  width: 220;
  height: 220px;
  border-radius: 50%;
}
.card-text {
  font-size: 20px;
  color: black;
}
.price {
  font-size: 25px;
  font-weight: 700;
  color: black;
}
.breakfast-description {
  text-align: center;
  font-size: 15px;
}
.ice-cream {
  padding-bottom: 5px;
}
.dessert-title {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
.dessert-description {
  text-align: center;
  font-size: 15px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 650px;
}
.delivery-text {
  padding: 0;
  width: 600px;
  height: 650px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delivery-picture {
  width: 600px;
  height: 650px;
  margin: 0;
  padding: 0;
  background-color: rgb(135, 191, 240);
}
.dessert-photo {
  width: 600px;
  height: 650px;
}
i.fa-glass {
  font-size: 75px;
}

i.fa-glass {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 70px;
}
.text_head {
  font-size: 25px;
  padding-bottom: 30px;
  text-align: center;
}
.text_delivery {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}
.delivery_line {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 200px;
  border: none;
  border-bottom: 5px dashed rgb(123, 39, 39);
  padding-top: 10px;
}

.delivery_schedule {
  text-align: center;
  padding: 10px;
  line-height: 25px;
}

.to_menu {
  box-sizing: border-box;
  border: 0;
  border-radius: 5%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 100px;
  text-transform: uppercase;
  font-weight: 900;
}
button {
  cursor: pointer;
}

@media screen and (max-width: 1200px) and (min-width: 1035px) {
  .container {
    max-width: 100%;
    width: 800px;
  }
  .col-lg-3 {
    width: calc(25% - var(--gutter));
  }
  .col-lg-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-lg-6 {
    width: calc(50% - var(--gutter));
  }
  .col-lg-12 {
    width: calc(100% - var(--gutter));
  }
  .logo {
    width: 1000px;
    height: 250px;
  }
  .first-container {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tag-text {
    font-size: 40px;
  }
  .menu {
    font-size: 40px;
  }
  .nav-signs {
    font-size: 25px;
  }
  .card,
  .card-body {
    padding: 15px;
    width: 250px;
    height: 300px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 15px;
  }
  .price {
    font-size: 20px;
  }
  .second-container {
    height: 900px;
    padding: 40px;
    display: flex;
  }
  .pizzeria-logo {
    width: 250px;
  }
  .ice-cream {
    padding-bottom: 3px;
  }
  .dessert-title {
    color: black;
    font-weight: 900;
    font-size: 15px;
  }
  .dessert-description {
    text-align: center;
    font-size: 10px;
  }

  .third-container {
    height: 900px;
    padding: 40px;
    display: flex;
  }

  .delivery {
    display: flex;
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .delivery-text {
    padding: 10px;
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dessert-photo {
    width: 500px;
    height: 500px;
  }
  .delivery-picture {
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: rgb(135, 191, 240);
  }
  i.fa-glass {
    font-size: 30px;
  }
  .text_head {
    font-size: 20px;
    text-align: center;
  }
  .text_delivery {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .delivery_line {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100px;
    border: none;
    border-bottom: 5px dashed rgb(123, 39, 39);
    padding-top: 10px;
  }

  .delivery_schedule {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    line-height: 25px;
  }

  .to_menu {
    font-size: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
@media screen and (max-width: 1035px) and (min-width: 836px) {
  .container {
    max-width: 500px;
  }
  .delivery {
    display: flex;
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .delivery-text {
    padding: 10px;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dessert-photo {
    width: 400px;
    height: 400px;
  }
  .delivery-picture {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: rgb(135, 191, 240);
  }
  i.fa-glass {
    font-size: 30px;
  }
  .text_head {
    font-size: 20px;
    text-align: center;
  }
  .text_delivery {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .delivery_line {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100px;
    border: none;
    border-bottom: 5px dashed rgb(123, 39, 39);
    padding-top: 10px;
  }

  .delivery_schedule {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    line-height: 25px;
  }

  .to_menu {
    font-size: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
@media screen and (max-width: 835px) {
  .col-md-3 {
    width: calc(25% - var(--gutter));
  }
  .col-md-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-md-6 {
    width: calc(50% - var(--gutter));
  }
  .col-md-12 {
    width: calc(100% - var(--gutter));
  }
  .logo {
    width: 800px;
    height: 200px;
  }
  .tag-text {
    font-size: 30px;
  }
  .first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .menu {
    font-size: 35px;
  }
  .nav-signs {
    font-size: 20px;
  }
  .card,
  .card-body {
    padding: 15px;
    width: 200px;
    height: 250px;
  }
  .card-img-top {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .card-title {
    font-size: 18px;
  }
  .card-text {
    font-size: 13px;
  }
  .price {
    font-size: 17px;
  }
  .second-container {
    height: 100%;
    padding: 50px;
    margin: auto;
  }
  .pizzeria-logo {
    width: 220px;
  }
  .third-container {
    height: 100%;
    padding: 50px;
    margin: auto;
  }

  .delivery {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .delivery-text {
    padding: 10px;
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dessert-photo {
    width: 100%;
    height: 500px;
  }
  .delivery-picture {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: rgb(135, 191, 240);
  }
  i.fa-glass {
    font-size: 30px;
  }
  .text_head {
    font-size: 15px;
    font-weight: 900;
    text-align: center;
  }
  .text_delivery {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
  }
  .delivery_line {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100px;
    border: none;
    border-bottom: 5px dashed rgb(123, 39, 39);
    padding-top: 10px;
  }

  .delivery_schedule {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    line-height: 25px;
  }

  .to_menu {
    font-size: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 900;
  }
}
@media screen and (max-width: 476px) and (min-width: 300px) {
  .col-sm-3 {
    width: calc(25% - var(--gutter));
  }
  .col-sm-4 {
    width: calc(33.33% - var(--gutter));
  }
  .col-sm-6 {
    width: calc(50% - var(--gutter));
  }
  .col-sm-12 {
    width: calc(100% - var(--gutter));
  }
  .logo {
    width: 800px;
    height: 150px;
  }
  .tag-text {
    font-size: 25px;
  }
  .first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
  .menu {
    font-size: 35px;
  }
  .nav-signs {
    font-size: 20px;
  }
  .card {
    padding: 15px;
    width: 150px;
    height: 200px;
  }
  .card-img-top {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .card-title {
    font-size: 15px;
  }
  .card-text {
    font-size: 10px;
  }
  .price {
    font-size: 15px;
  }
  .second-container {
    height: 100%;
    padding: 30px;
  }
  .pizzeria-logo {
    width: 200px;
  }
  .third-container {
    height: 100%;
    padding: 30px;
  }
  .to_menu {
    padding-bottom: 430px;
  }
}
